.alarmItem {
  padding: 10px;
}

.row {
  margin: 0;
}

:host {
  width: 100%;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(59, 76, 72, 0.5);
  --scrollbar-thumb-hover-color: rgb(59, 76, 72);
  --scrollbar-border-radius: 4px;
}

.floatingButtonDiv {
  z-index: 1;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  border: 0px;
  height: 50px;
  width: 50px;
  line-height: 0px;
}

.floatingButton {
  border-radius: 50%;
  border: 0px;
  height: 50px;
  width: 50px;
  line-height: 0px;
}

.btn-add {
  background-color: #1796e0;
  color: white;
  border-color: #3b4c48;
  outline: none;
}

.btn-add:focus {
  background-color: #23aaf9;
  color: white;
  border-color: #3b4c48;
  outline: none;
}

.btn-add:hover {
  background-color: #126392;
  color: white;
  border-color: #3b4c48;
  outline: none;
}

.btn-add:active {
  background-color: #1796e0;
  color: white;
  border-color: #3b4c48;
  outline: none;
}

.spanButton {
  margin-left: -2px;
}
