@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.row {
  margin: 0;
}

.window {
  display: flex;
  flex-direction: column;
  height: 791px;
  overflow: hidden;
}

.mainWindow {
  flex: 1 0 auto;
  background-color: #8ebdb2;
  padding-top: 10px;
  height: 200px;
  overflow: auto;
}

.footer {
  background-color: #8ebdb2;
}

.logo {
  border-bottom: 2px solid #3b4c48;
}
