
<h1 mat-dialog-title>Nowy alarm!</h1>
<div mat-dialog-content>

  <mat-form-field>
    <div>
      <mat-label>Godzina:<br/></mat-label>
      <input matInput [(ngModel)]="data.Time">
    </div>
    <div>
      <mat-label>Data<br /></mat-label>
      <input matInput [matDatepicker]="dp3" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>

    </div>
    <div>
      <mat-label>Notatka<br /></mat-label>
      <input matInput [(ngModel)]="data.Note">
    </div>
    
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Dodaj alarm</button>
</div>
