/* You can add global styles to this file, and also import other style files */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50;
}
/* Green */
.button2 {
  background-color: #008CBA;
}
/* Blue */
.button3 {
  background-color: #b6ff00;
}
.button4 {
  background-color: lightpink;
  padding: 5px !important;
  font-size: 8px !important;
}
